/* .App-header is the entire app here!!!!! */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  color: white;
}

.winlane-gg {
  margin-left: 15vh;
}

.grid-container { 
  display: flex;
  flex-wrap: wrap;
}

.champion-image-link {
  width: 9vh;
  height: 9vh;
}

.champion-pane-left {
  position: absolute;
  width: 50vh;
  left: 0vh;
}


.champion-pane-right {
  position: absolute;
  float: right;
  width: 50vh;
  right: 0vh;
}

.champion-pane-left-list {
  margin: 1vh;
  overflow: auto;
  height: 86vh;
}

.champion-pane-right-list {
  margin: 1vh;
  overflow: auto;
  height: 86vh;
}

.matchup-info {
  left: 50vh;
  position: absolute;
  width: 90vh;
}


